*/__pycache__/
*/*/__pycache__/
*/migrations/*.pyc
*/migrations/*.py

.env
db.sqlite3
markdownx/*.jpg
markdownx/*.png
markdownx/*.webp

static/admin
static/dicts
static/markdownx
static/martor
static/plugins
static/rest_framework

staticfiles
static

logs/*